.p-0 {
    padding: 0 !important;
}

.p-xs {
    padding: var(--dimen-xs) !important;
}

.p-sm {
    padding: var(--dimen-sm) !important;
}

.p-md {
    padding: var(--dimen-md) !important;
}

.p-lg {
    padding: var(--dimen-lg) !important;
}

.p-xl {
    padding: var(--dimen-xl) !important;
}

.pv-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pv-xs {
    padding-top: var(--dimen-xs) !important;
    padding-bottom: var(--dimen-xs) !important;
}

.pv-sm {
    padding-top: var(--dimen-sm) !important;
    padding-bottom: var(--dimen-sm) !important;
}

.pv-md {
    padding-top: var(--dimen-md) !important;
    padding-bottom: var(--dimen-md) !important;
}

.pv-lg {
    padding-top: var(--dimen-lg) !important;
    padding-bottom: var(--dimen-lg) !important;
}

.ph-sm {
    padding-left: var(--dimen-sm) !important;
    padding-right: var(--dimen-sm) !important;
}

.mr-xs {
    margin-right: var(--dimen-xs) !important;
}

.mr-sm {
    margin-right: var(--dimen-sm) !important;
}

.mr-md {
    margin-right: var(--dimen-md) !important;
}

.mt-xs {
    margin-top: var(--dimen-xs) !important;
}

.mt-sm {
    margin-top: var(--dimen-sm) !important;
}

.mt-md {
    margin-top: var(--dimen-md) !important;
}

.mt-lg {
    margin-top: var(--dimen-lg) !important;
}

.mt-xl {
    margin-top: var(--dimen-xl) !important;
}

.mt-xxl {
    margin-top: var(--dimen-xxl) !important;
}
