.default {
    --color: var(--color-default);
}

.alpha {
    --color: var(--color-alpha);
}

.beta {
    --color: var(--color-beta);
}

.gamma {
    --color: var(--color-gamma);
}

.bg-alpha {
    --color: var(--color-white);
    --bgcolor: var(--color-alpha);
}

.bg-beta {
    --color: var(--color-white);
    --bgcolor: var(--color-beta);
}

.bg-gamma {
    --color: var(--color-white);
    --bgcolor: var(--color-gamma);
}