.btn {
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    letter-spacing: 1.6px;
    transition: all 0.2s;
    color: var(--color);
    padding: var(--space);
    background-position: center;
    border-radius: var(--radius);
    background-color: var(--bgcolor);
    border: 1px solid var(--color);
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    cursor: not-allowed;
    background-color: var(--color-grey);
    --color: var(--color-lighter);
}

.btn:disabled:hover {
    --color: var(--color-lighter);
}

.btn:hover {
    background: var(--btn-color-bg-hover)
        radial-gradient(circle, transparent 1%, var(--btn-color-bg-hover) 1%)
        center/15000%;
}

.btn:active {
    background-size: 100%;
    transition: background 0s;
    background-color: var(--btn-color-bg);
}

.btn.alpha {
    --btn-color-text: var(--color-white);
    --btn-color-bg: var(--color-orange);
    --btn-color-bd: var(--color-orange);
    --btn-color-bg-hover: var(--color-orange-dark);
}

.input {
    width: 100%;
    letter-spacing: normal;
    padding: var(--space);
    font-size: var(--size);
    border-radius: var(--radius);
    background-color: transparent;
    border: 1px solid var(--color);
    transition: all 0.3s ease-in-out;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color);
}

textarea.input {
    line-height: var(--line-height);
}

.radio, .checkbox{
    --size-checkbox: 15px;
    position: relative;
    visibility: hidden;
    width: var(--size-checkbox);
    height: var(--size-checkbox);
}

.radio::before, .checkbox::before{
    content: "";
    cursor: pointer;
    position: absolute;
    display: inline;
    visibility: visible;
    background-color: transparent;
    border: 1px solid var(--color);
    width: var(--size-checkbox);
    height: var(--size-checkbox);
}

.checkbox:checked::before{
    background-color: var(--color);
}

.checkbox:checked::after{
    top: 40%;
    left: 50%;
    content: "";
    display: inline;
    position: absolute;
    visibility: visible;
    border-left: 2px solid var(--color-white);
    border-bottom: 2px solid var(--color-white);
    height: calc(var(--size-checkbox)/3);
    width: calc(var(--size-checkbox)*2/3);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.radio:checked::after{
    top: 50%;
    left: 50%;
    content: "";
    display: inline;
    position: absolute;
    visibility: visible;
    background-color: var(--color);
    transform: translate(-50%, -50%);
    height: calc(var(--size-checkbox)/3);
    width: calc(var(--size-checkbox)/3);
}