.btn {
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    letter-spacing: 1.6px;
    transition: all 0.2s;
    color: var(--btn-color-text);
    background-position: center;
    background-color: var(--btn-color-bg);
    border: 1px solid var(--btn-color-bd);
    padding: var(--dimen-sm) var(--dimen-sm);
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    cursor: not-allowed;
    background-color: var(--color-grey);
    border-color: var(--color-grey);
}

.btn:disabled:hover {
    background: var(--color-grey);
}

.btn:hover {
    background: var(--btn-color-bg-hover)
        radial-gradient(circle, transparent 1%, var(--btn-color-bg-hover) 1%)
        center/15000%;
}

.btn:active {
    background-size: 100%;
    transition: background 0s;
    background-color: var(--btn-color-bg);
}

.btn-sm {
    font-size: var(--font-sm);
    padding: var(--dimen-xs) var(--dimen-sm);
}

.btn-xs {
    font-size: var(--font-xs);
    padding: var(--dimen-xs);
}

.btn-lg {
    padding: var(--dimen-md) var(--dimen-lg);
}

.btn-orange {
    --btn-color-text: var(--color-white);
    --btn-color-bg: var(--color-orange);
    --btn-color-bd: var(--color-orange);
    --btn-color-bg-hover: var(--color-orange-dark);
}

.btn-green {
    --btn-color-text: var(--color-white);
    --btn-color-bg: var(--color-green);
    --btn-color-bd: var(--color-green);
    --btn-color-bg-hover: var(--color-green-dark);
}

.btn-black {
    --btn-color-text: var(--color-white);
    --btn-color-bg: var(--color-black);
    --btn-color-bd: var(--color-black);
    --btn-color-bg-hover: var(--color-grey-dark);
}

.label {
    margin-bottom: 10px;
    letter-spacing: 1px;
    display: inline-block;
    font-size: var(--font-xs);
    text-transform: uppercase;
}

.input-group {
    position: relative;
}

.input-group > .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-size: 15px;
}

.input {
    width: 100%;
    border-radius: 3px;
    letter-spacing: normal;
    padding: var(--dimen-sm);
    font-size: var(--font-md);
    background-color: transparent;
    border: 1px solid var(--color-grey);
    transition: all 0.3s ease-in-out;
}

.input.input-sm {
    font-size: var(--font-sm);
    padding: var(--dimen-sm);
}

.input.input-xs {
    font-size: var(--font-xs);
    padding: var(--dimen-xs) var(--dimen-sm);
}

textarea.input {
    line-height: var(--line-height);
}

.input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color-grey);
}

.input-group > .input {
    padding-left: 40px;
}

.error {
    display: block;
    font-size: var(--font-xs);
    color: var(--color-error);
    margin-top: var(--dimen-xs);
}

.radio,
.checkbox {
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: relative;
    vertical-align: -webkit-baseline-middle;
}

.radio input,
.checkbox input {
    display: none;
}

.radio .indicator,
.checkbox .indicator {
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    background: #ccc;
    display: inline-block;
}

.radio .indicator {
    border-radius: 50%;
}

.radio input:checked ~ .indicator {
    background-color: #fff;
    border: 5px solid #494949;
}

.checkbox .indicator::after {
    top: 3px;
    left: 6px;
    width: 4px;
    height: 8px;
    content: "";
    display: none;
    position: absolute;
    border: solid #fff;
    transform: rotate(45deg);
    border-width: 0 2px 2px 0;
}

.checkbox input:checked ~ .indicator {
    background-color: #494949;
}

.checkbox input:checked ~ .indicator::after {
    display: block;
    background-color: #494949;
}
