.btn {
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    letter-spacing: 1.6px;
    transition: all 0.2s;
    color: var(--btn-color-text);
    background-position: center;
    background-color: var(--btn-color-bg);
    border: 1px solid var(--btn-color-bd);
    padding: var(--dimen-sm) var(--dimen-sm);
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    cursor: not-allowed;
    background-color: var(--color-grey);
    border-color: var(--color-grey);
}

.btn:disabled:hover {
    background: var(--color-grey);
}

.btn:hover {
    background: var(--btn-color-bg-hover)
        radial-gradient(circle, transparent 1%, var(--btn-color-bg-hover) 1%)
        center/15000%;
}

.btn:active {
    background-size: 100%;
    transition: background 0s;
    background-color: var(--btn-color-bg);
}

.btn.alpha {
    --btn-color-text: var(--color-white);
    --btn-color-bg: var(--color-orange);
    --btn-color-bd: var(--color-orange);
    --btn-color-bg-hover: var(--color-orange-dark);
}

.input {
    width: 100%;
    border-radius: 3px;
    letter-spacing: normal;
    padding: var(--dimen-sm);
    font-size: var(--font-md);
    background-color: transparent;
    border: 1px solid var(--color-grey);
    transition: all 0.3s ease-in-out;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color-grey);
}

textarea.input {
    line-height: var(--line-height);
}

.radio, .checkbox{
    --size-checkbox: 15px;
    position: relative;
    width: var(--size-checkbox);
    height: var(--size-checkbox);
}

.radio::before, .checkbox::before{
    content: "";
    cursor: pointer;
    position: absolute;
    display: inline;
    background-color: #000;
    border: 1px solid #ff0000;
    width: var(--size-checkbox);
    height: var(--size-checkbox);
}

.checkbox:checked::after{
    top: 40%;
    left: 50%;
    content: "";
    display: inline;
    position: absolute;
    border-left: 2px solid yellow;
    border-bottom: 2px solid yellow;
    height: calc(var(--size-checkbox)/3);
    width: calc(var(--size-checkbox)*2/3);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.radio:checked::after{
    top: 50%;
    left: 50%;
    content: "";
    display: inline;
    position: absolute;
    background-color: yellow;
    transform: translate(-50%, -50%);
    height: calc(var(--size-checkbox)/3);
    width: calc(var(--size-checkbox)/3);
}