.grid {
    --gap: 0;
    display: flex;
    flex-wrap: wrap;
}

.grid.vertical {
    flex-direction: column;
}

.grid.gutter-xs {
    --gap: calc(var(--dimen-xs) / 2);
}

.grid.gutter-sm {
    --gap: calc(var(--dimen-sm) / 2);
}

.grid.gutter-md {
    --gap: calc(var(--dimen-md) / 2);
}

.grid.gutter-lg {
    --gap: calc(var(--dimen-lg) / 2);
}

.grid.gutter-xl {
    --gap: calc(var(--dimen-xl) / 2);
}

.grid.gutter-xxl {
    --gap: calc(var(--dimen-xxl) / 2);
}

.grid.gutter-between {
    justify-content: space-between;
}

.grid[class^="gutter-"],
.grid[class*=" gutter-"] {
    margin-left: calc(-1 * var(--gap)) !important;
    margin-right: calc(-1 * var(--gap)) !important;
    margin-bottom: calc(-1 * var(--gap) * 2) !important;
}

.grid[class^="gutter-"] > *,
.grid[class*=" gutter-"] > * {
    padding: 0 var(--gap) calc(var(--gap) * 2) var(--gap);
}

.grid > .grow {
    flex: 1;
}

.m-center {
    justify-content: center;
}

.m-end {
    justify-content: flex-end;
}

.c-center {
    align-items: center;
}

.c-end {
    align-items: flex-end;
}

.cell-1 {
    flex-basis: 8.3333%;
}

.cell-2 {
    flex-basis: 16.6667%;
}

.cell-3 {
    flex-basis: 25%;
}

.cell-4 {
    flex-basis: 33.3333%;
}

.cell-5 {
    flex-basis: 41.6667%;
}

.cell-6 {
    flex-basis: 50%;
}

.cell-7 {
    flex-basis: 58.3333%;
}

.cell-8 {
    flex-basis: 66.6667%;
}

.cell-9 {
    flex-basis: 75%;
}

.cell-10 {
    flex-basis: 83.3333%;
}

.cell-11 {
    flex-basis: 91.6667%;
}

.cell-12 {
    flex-basis: 100%;
}

@media screen and (min-width: 576px) {
    .cell-xs-1 {
        flex-basis: 8.3333%;
    }
    .cell-xs-2 {
        flex-basis: 16.6667%;
    }
    .cell-xs-3 {
        flex-basis: 25%;
    }
    .cell-xs-4 {
        flex-basis: 33.3333%;
    }
    .cell-xs-5 {
        flex-basis: 41.6667%;
    }
    .cell-xs-6 {
        flex-basis: 50%;
    }
    .cell-xs-7 {
        flex-basis: 58.3333%;
    }
    .cell-xs-8 {
        flex-basis: 66.6667%;
    }
    .cell-xs-9 {
        flex-basis: 75%;
    }
    .cell-xs-10 {
        flex-basis: 83.3333%;
    }
    .cell-xs-11 {
        flex-basis: 91.6667%;
    }
    .cell-xs-12 {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 768px) {
    .cell-sm-1 {
        flex-basis: 8.3333%;
    }
    .cell-sm-2 {
        flex-basis: 16.6667%;
    }
    .cell-sm-3 {
        flex-basis: 25%;
    }
    .cell-sm-4 {
        flex-basis: 33.3333%;
    }
    .cell-sm-5 {
        flex-basis: 41.6667%;
    }
    .cell-sm-6 {
        flex-basis: 50%;
    }
    .cell-sm-7 {
        flex-basis: 58.3333%;
    }
    .cell-sm-8 {
        flex-basis: 66.6667%;
    }
    .cell-sm-9 {
        flex-basis: 75%;
    }
    .cell-sm-10 {
        flex-basis: 83.3333%;
    }
    .cell-sm-11 {
        flex-basis: 91.6667%;
    }
    .cell-sm-12 {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 992px) {
    .cell-md-1 {
        flex-basis: 8.3333%;
    }
    .cell-md-2 {
        flex-basis: 16.6667%;
    }
    .cell-md-3 {
        flex-basis: 25%;
    }
    .cell-md-4 {
        flex-basis: 33.3333%;
    }
    .cell-md-5 {
        flex-basis: 41.6667%;
    }
    .cell-md-6 {
        flex-basis: 50%;
    }
    .cell-md-7 {
        flex-basis: 58.3333%;
    }
    .cell-md-8 {
        flex-basis: 66.6667%;
    }
    .cell-md-9 {
        flex-basis: 75%;
    }
    .cell-md-10 {
        flex-basis: 83.3333%;
    }
    .cell-md-11 {
        flex-basis: 91.6667%;
    }
    .cell-md-12 {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .cell-lg-1 {
        flex-basis: 8.3333%;
    }
    .cell-lg-2 {
        flex-basis: 16.6667%;
    }
    .cell-lg-3 {
        flex-basis: 25%;
    }
    .cell-lg-4 {
        flex-basis: 33.3333%;
    }
    .cell-lg-5 {
        flex-basis: 41.6667%;
    }
    .cell-lg-6 {
        flex-basis: 50%;
    }
    .cell-lg-7 {
        flex-basis: 58.3333%;
    }
    .cell-lg-8 {
        flex-basis: 66.6667%;
    }
    .cell-lg-9 {
        flex-basis: 75%;
    }
    .cell-lg-10 {
        flex-basis: 83.3333%;
    }
    .cell-lg-11 {
        flex-basis: 91.6667%;
    }
    .cell-lg-12 {
        flex-basis: 100%;
    }
}
