.p-0 {
    padding: 0;
}

.p-xs {
    padding: var(--space-xs);
}

.p-sm {
    padding: var(--space-sm);
}

.p-md {
    padding: var(--space-md);
}

.p-lg {
    padding: var(--space-lg);
}

.p-xl {
    padding: var(--space-xl);
}

.p-xxl {
    padding: var(--space-xxl);
}

.pv-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.pv-xs {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
}

.pv-sm {
    padding-top: var(--space-sm);
    padding-bottom: var(--space-sm);
}

.pv-md {
    padding-top: var(--space-md);
    padding-bottom: var(--space-md);
}

.pv-lg {
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
}

.pv-xl {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
}

.pv-xxl {
    padding-top: var(--space-xxl);
    padding-bottom: var(--space-xxl);
}

.mr-xs {
    margin-right: var(--space-xs);
}

.mr-sm {
    margin-right: var(--space-sm);
}

.mr-md {
    margin-right: var(--space-md);
}

.mr-lg {
    margin-right: var(--space-lg);
}

.mr-xl {
    margin-right: var(--space-xl);
}

.mr-xxl {
    margin-right: var(--space-xxl);
}

.mt-xs {
    margin-top: var(--space-xs);
}

.mt-sm {
    margin-top: var(--space-sm);
}

.mt-md {
    margin-top: var(--space-md);
}

.mt-lg {
    margin-top: var(--space-lg);
}

.mt-xl {
    margin-top: var(--space-xl);
}

.mt-xxl {
    margin-top: var(--space-xxl);
}

.gap-max {
    justify-content: space-between;
}

.gap-0 {
    --column-gap: 0;
    gap: var(--column-gap);
}

.gap-xs {
    --column-gap: var(--space-xs);
    gap: var(--column-gap);
}

.gap-sm {
    --column-gap: var(--space-sm);
    gap: var(--column-gap);
}

.gap-md {
    --column-gap: var(--space-md);
    gap: var(--column-gap);
}

.gap-lg {
    --column-gap: var(--space-lg);
    gap: var(--column-gap);
}

.gap-xl {
    --column-gap: var(--space-xl);
    gap: var(--column-gap);
}

.gap-xxl {
    --column-gap: var(--space-xxl);
    gap: var(--column-gap);
}

.gapv-0 {
    row-gap: 0;
}

.gapv-xs {
    row-gap: var(--space-xs);
}

.gapv-sm {
    row-gap: var(--space-sm);
}

.gapv-md {
    row-gap: var(--space-md);
}

.gapv-lg {
    row-gap: var(--space-lg);
}

.gapv-xl {
    row-gap: var(--space-xl);
}

.gapv-xxl {
    row-gap: var(--space-xxl);
}