.xs {
    --size: var(--size-xs);
    --line-height-spaced: var(--line-height-xs);
}

.sm {
    --size: var(--size-sm);
    --line-height-spaced: var(--line-height-sm);
}

.md {
    --size: var(--size-md);
    --line-height-spaced: var(--line-height-md);
}

.lg {
    --size: var(--size-lg);
    --line-height-spaced: var(--line-height-lg);
}

.xl {
    --size: var(--size-xl);
    --line-height-spaced: var(--line-height-xl);
}

.xxl {
    --size: var(--size-xxl);
    --line-height-spaced: var(--line-height-xxl);
}

.lh {
    --line-height: var(--line-height-spaced);
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.underline {
    text-decoration: underline;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 500;
}

.bolder {
    font-weight: 700;
}