/**
    Environment Variables

    For Breakpoints:
    BREAKPOINT-SM, BREAKPOINT-MD, BREAKPOINT-LG, BREAKPOINT-XL, BREAKPOINT-XXL
*/

:root {
    /* Font Sizes & Respective Line Heights */
    --size-xs: 10px;
    --size-sm: 12px;
    --size-md: 14px;
    --size-lg: 18px;
    --size-xl: 24px;
    --size-xxl: 32px;

    /* --lh-xs: 10px;
    --lh-sm: 12px;
    --lh-md: 14px;
    --lh-lg: 18px;
    --lh-xl: 22px;
    --lh-xxl: 30px; */

    /* Spaces/Distances/Dimens */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 22px;
    --space-xl: 32px;
    --space-xxl: 38px;

    /* Font Families */
    --ff-default:  'Ubuntu', sans-serif;
    --ff-alpha:  'Ubuntu', sans-serif;
    --ff-beta:  'Ubuntu', sans-serif;

    /* Colors */
    --color-white: #fff;
    --color-red: #f35958;
    --color-green: #00a79a;
    --color-yellow: #f8d053;

    --color-default: #3e3e3e;
    --color-alpha: #6d5eac;
    --color-beta: #f58b29;
    --color-gamma: #37b0e9;
    --color-separator: #e7e7e7;

    --color-line:#e7e7e7;
    --color-link: #252e9d;
    --color-input: #ededed;
    --color-text: #242424;
    --color-muted: #767676;


    /* Layout Specific Variables */
    --z-header: 10;
    --z-sidebar: 10;
    --z-backdrop: 50;
    --z-modal: 100;

    --container: 1366px;
    --header-height: 35px;
    --sidebar-width: 135px;
}

@media screen and (min-width: env(BREAKPOINT-SM, 768px)) {
    /* :root {

    } */
}

@media screen and (min-width: env(BREAKPOINT-MD, 1024px)) {
    /* :root {

    } */
}

@media screen and (min-width: env(BREAKPOINT-LG, 1366px)) {
    /* :root {

    } */
}

@media screen and (min-width: env(BREAKPOINT-XL, 1600px)) {
    /* :root {

    } */
}

@media screen and (min-width: env(BREAKPOINT-XXL, 1920)) {
    /* :root {

    } */
}