/**
    Environment Variables

    For Breakpoints:
    BREAKPOINT-SM, BREAKPOINT-MD, BREAKPOINT-LG, BREAKPOINT-XL, BREAKPOINT-XXL
*/

:root {
    /* Font Sizes & Respective Line Heights */
    --size-xs: 10px;
    --size-sm: 12px;
    --size-md: 16px;
    --size-lg: 18px;
    --size-xl: 22px;
    --size-xxl: 30px;

    --line-height-xs: 10px;
    --line-height-sm: 12px;
    --line-height-md: 16px;
    --line-height-lg: 18px;
    --line-height-xl: 22px;
    --line-height-xxl: 30px;

    /* Spaces/Distances/Dimens */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 22px;
    --space-xl: 32px;
    --space-xxl: 38px;

    /* Font Families */
    --ff-default: "Open Sans", sans-serif;
    --ff-alpha: "Open Sans", sans-serif;
    --ff-beta: "Open Sans", sans-serif;

    /* Colors */
    --color-white: #fff;
    --color-default-lighter: #131313;
    --color-default: #131313;
    --color-default-darker: #131313;
    --color-alpha-lighter: #6d5eac;
    --color-alpha: #6d5eac;
    --color-alpha-darker: #6d5eac;
    --color-beta-lighter: #f58b29;
    --color-beta: #f58b29;
    --color-beta-darker: #f58b29;
    --color-gamma-lighter: #37b0e9;
    --color-gamma: #37b0e9;
    --color-gamma-darker: #37b0e9;

    /* Layout Specific Variables */
    --header-height: 35px;
    --sidebar-width: 135px;
}

@media screen and (min-width: env(BREAKPOINT-SM, 768px)) {
    /* :root {

    } */
}

@media screen and (min-width: env(BREAKPOINT-MD, 1024px)) {
    /* :root {

    } */
}

@media screen and (min-width: env(BREAKPOINT-LG, 1366px)) {
    /* :root {

    } */
}

@media screen and (min-width: env(BREAKPOINT-XL, 1600px)) {
    /* :root {

    } */
}

@media screen and (min-width: env(BREAKPOINT-XXL, 1920)) {
    /* :root {

    } */
}