/**
    Environment Variables

    For Breakpoints:
    BREAKPOINT-SM, BREAKPOINT-MD, BREAKPOINT-LG, BREAKPOINT-XL, BREAKPOINT-XXL
*/

:root {
    --size-xs: 10px;
    --size-sm: 12px;
    --size-md: 16px;
    --size-lg: 18px;
    --size-xl: 22px;
    --size-xxl: 30px;

    --line-height-xs: 10px;
    --line-height-sm: 12px;
    --line-height-md: 16px;
    --line-height-lg: 18px;
    --line-height-xl: 22px;
    --line-height-xxl: 30px;

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 22px;
    --space-xl: 32px;
    --space-xxl: 38px;

    --height-header: 35px;
    --width-sidebar: 135px;

    --color-link: #1616fc;
    --color-link-visited: #5419a1;
    --color-muted: #969696;
    --color-error: #db1111;
    --color-text: #131313;
    --color-line: #e2e0dc;
    --color-line-dark: #969696;

    --color-white: #fff;
    --color-white-dark: #fafafa;
    --color-grey-light: #f0f0f0;
    --color-grey: #f1f0f5;
    --color-grey-dark: #434343;
    --color-blue: #37b0e9;
    --color-blue-dark: #262d33;
    --color-orange: #f58b29;
    --color-orange-dark: #cd6200;

    --color-pink: #f3d8d7;
    --color-pink-dark: #f23171;
    --color-red: #f35958;
    --color-green: #1dbb99;
    --color-yellow: #f8d053;
    --color-violet: #1f3953;
    --color-black: #000;

    --color-bg-grey: #f2f2f2;
    --color-bg-menu: #323237;
    --color-bg-menu-dark: #444444;

    --color-primary: #6d5eac;
    --color-primary-dark: #5b4d91;
    --color-secondary: #494949;
    --color-secondary-dark: #353535;

    --btn-color-text: var(--color-text);
    --btn-color-bg: var(--color-grey-light);
    --btn-color-bd: var(--btn-color-bg);
    --btn-color-bg-hover: var(--color-grey-light);

    --tf-heading: "Open Sans", sans-serif;
    --tf-text: "Open Sans", sans-serif;
    --tf-bold: "Open Sans", sans-serif;
}

@media screen and (min-width: env(BREAKPOINT-SM, 768px)) {
    /* :root {

    } */
}

@media screen and (min-width: env(BREAKPOINT-MD, 1024px)) {
    /* :root {

    } */
}

@media screen and (min-width: env(BREAKPOINT-LG, 1366px)) {
    /* :root {

    } */
}

@media screen and (min-width: env(BREAKPOINT-XL, 1600px)) {
    /* :root {

    } */
}

@media screen and (min-width: env(BREAKPOINT-XXL, 1920)) {
    /* :root {

    } */
}